@import "tailwindcss";

@theme {
  --font-lora: 'Lora', sans-serif;
  --font-nunito: 'Nunito', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;

  --font-trirong: 'Trirong', serif;
}

@font-face {
  font-family: 'Lora';
  src: url('./assets/fonts/Lora-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('./assets/fonts/Lora-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* =======================
   Trirong Font
======================= */

/* Thin */
@font-face {
  font-family: 'Trirong';
  src: url('./assets/fonts/Trirong/Trirong-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trirong';
  src: url('./assets/fonts/Trirong/Trirong-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* ExtraLight */
@font-face {
  font-family: 'Trirong';
  src: url('./assets/fonts/Trirong/Trirong-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trirong';
  src: url('./assets/fonts/Trirong/Trirong-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* Light */
@font-face {
  font-family: 'Trirong';
  src: url('./assets/fonts/Trirong/Trirong-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trirong';
  src: url('./assets/fonts/Trirong/Trirong-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Regular */
@font-face {
  font-family: 'Trirong';
  src: url('./assets/fonts/Trirong/Trirong-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trirong';
  src: url('./assets/fonts/Trirong/Trirong-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Medium */
@font-face {
  font-family: 'Trirong';
  src: url('./assets/fonts/Trirong/Trirong-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trirong';
  src: url('./assets/fonts/Trirong/Trirong-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* SemiBold */
@font-face {
  font-family: 'Trirong';
  src: url('./assets/fonts/Trirong/Trirong-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trirong';
  src: url('./assets/fonts/Trirong/Trirong-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: 'Trirong';
  src: url('./assets/fonts/Trirong/Trirong-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trirong';
  src: url('./assets/fonts/Trirong/Trirong-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* ExtraBold */
@font-face {
  font-family: 'Trirong';
  src: url('./assets/fonts/Trirong/Trirong-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trirong';
  src: url('./assets/fonts/Trirong/Trirong-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* Black */
@font-face {
  font-family: 'Trirong';
  src: url('./assets/fonts/Trirong/Trirong-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trirong';
  src: url('./assets/fonts/Trirong/Trirong-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@layer utilities {
  .font-lora {
    font-family: 'Lora', sans-serif;
  }

  .font-nunito {
    font-family: 'Nunito', sans-serif;
  }

  .font-montserrat {
    font-family: 'Montserrat', sans-serif;
  }

  .font-trirong {
    font-family: 'Trirong', serif;
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;



  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  margin: 0;

  background-color: #ffffff;
}